[2018-06-03 19:08] dengl11 opened #5 "NFA->DFA: when initial state has epsilon transition"
Thanks for the awesome library!

I think that there might be a bug for `DFA.from_nfa`.  When the initial state has epsilon transition, the initial states for the NFA do not include other DFA states that can be reached from the DFA initial state via epsilon transition.

Here is a script that I tested:

···
nfa = NFA(
    states={'q0', 'q1', 'q2'},
    input_symbols={'a', 'b'},
    transitions={

[2018-08-07 16:07] YtvwlD opened #8 "Conditions of PDA Acceptance"
DPDAs can accept when the stack is empty or a final state has been reached (assuming that all input has been read).

The related code is `DPDA._check_for_input_rejection` which is basically this:
[code]

This leads to the problem that when the DPDA accepts via final state, it will also accept if the stack is empty after reading a given input, even when no final state has been reached.

I would pre

[2018-08-18 21:56] caleb531 commented on #5
@dengl11 Closing this issue, since the corresponding PR has been merged. :)

[2018-08-18 21:56] #5 closed

[2018-10-20 04:32] caleb531 commented on #8
@YtvwlD Any update on how you'd like to handle PDA acceptance? I'd like to get Automata v3 released soon, but would also like to hear your input first in case any more breaking API changes need to be made.

[2018-10-27 19:13] YtvwlD commented on #8
I'm really sorry to not have responded earlier. I really hope to get to this next week.

[2018-10-27 19:16] caleb531 commented on #8
It's quite alright, Niklas! :) I look forward to hearing your response when you can get to it.

Caleb
On Oct 27, 2018, 12:13 PM -0700, Niklas <notifications@github.com>, wrote:

[2018-11-26 03:08] caleb531 commented on #8
Hey, @YtvwlD! I just wanted to check in if you happened to have some time this week to comment more on this issue. If not, that's alright—I'm just checking. :)

[2018-12-07 23:35] YtvwlD commented on #8
No, sorry. But I hope to be able to take a look before the year ends.

[2018-12-07 23:37] caleb531 commented on #8
@YtvwlD That's fine! :)

[2019-01-21 01:32] caleb531 commented on #8
@YtvwlD I'm eager to start writing release notes and get Automata v3 published since more people are finding this library (no doubt thanks to your efforts in making it more comprehensively useful). I am still interested in hearing your feedback, but will require now that any changes you recommend be backwards-compatible with the pending v3 API (because I am not interested in pushing a v4 for the s

[2019-01-21 16:03] YtvwlD commented on #8
Sorry for not getting to this earlier.

From what I've learnt (and which is stated in the [German Wikipedia Article](https://de.wikipedia.org/wiki/Kellerautomat); I'm translating the relevant bit), (nondeterministic) PDAs are defined in a way that:

The [English Wikipedia article](https://en.wikipedia.org/wiki/Pushdown_automaton) confused me a bit - especially the part you quoted above.

But there

[2019-01-21 21:55] caleb531 commented on #8
Fair enough. Maybe the parameter can be called something like `acceptance_mode`? Perhaps values can be either `'final_state'` or `'empty_stack'` or `'all'`/`'both'`. I'm open to suggestions if you have different ideas for the names.

I'll consider any PR you send my way. :)

[2019-01-22 10:52] YtvwlD commented on #8
Yes, this looks good. :)

[2019-01-31 17:25] YtvwlD commented on #8
I created PR #12 for this.

[2019-02-06 05:37] caleb531 commented on #8
@YtvwlD I've just merged $12 with the new functionality. Thanks for the hard work putting that together.

[2019-02-06 05:37] #8 closed

[2019-02-07 18:23] YtvwlD commented on #8
Thanks. :)

[2019-02-09 03:57] caleb531 commented on #8
@YtvwlD Just wanted to let you know that I've officially released Automata v3.1 with the new `acceptance_mode` param. :)

[2019-07-23 15:20] tcosmo opened #13 "Feature Request: NFA <-> Regular Expression"
Hello,

Thank you for your work and very nice library.

If ever you get the time, would it be possible to implement the conversion NFA <-> Regular expression ?

The direction Regex -> NFA is easy, the other one more annoying. A good reference is "Introduction to the Theory of Computation" by Sisper, chapter 1, definition 1.64 for the concept of "generalised nondeterministic finite automaton" which

[2019-07-24 19:07] caleb531 commented on #13
@tcosmo This is a great idea. @YtvwlD, do you think this is something you'd be up to tackle?

[2019-07-26 15:02] YtvwlD commented on #13
I had the idea last year, but then decided that it probably would be too much work. :)
I don't have any time this week but might look at this next week.

[2020-01-16 00:39] jonthemango commented on #13
@tcosmo You mentioned that going from RE to NFA is easy. Can you describe how? I know one can do this using Thompson's construction but going from Python's RE module to an actual NFA is proving difficult.

[2020-01-16 11:40] tcosmo commented on #13
Hi @jonthemango , the python RE module is, as far as theory is concerned, a bit a pain in the a**. Indeed it is useful for very practical cases but it doesnt care that much about the theory and doest dwell well with it.

I recommand using this package instead:
https://github.com/cyphar/redone/tree/master/redone

T

[2020-03-08 01:30] caleb531 commented on #13
Does anyone here still have an interest in this feature? My only concern is that even if it were feasible to implement, there would be countless edge cases that could cause the algorithm to fail. In addition, I suspect any final implementation might be too arbitrary or rigid.

I've already skimmed through [this tutorial](https://www.youtube.com/watch?v=OKFrju0HB7k), and it seems the process is pre

[2020-03-08 09:16] tcosmo commented on #13
I definitely still have an interest!

Very few automata library are bothered with this feature which is so
important from a theoretical perspective.

I would be able to implement this feature.

T

On Sun 8 Mar 2020 at 01:30, Caleb Evans <notifications@github.com> wrote:

[2020-03-08 23:35] caleb531 commented on #13
@tcosmo Excellent! Well, if you mean you would be comfortable writing the Python code to implement this, then you are certainly welcome to. Just submit me a pull request when you are finished, with the necessary test cases as well to ensure the functionality continues to work as expected in all scenarios.

Now that I think of it, I really need to write a CONTRIBUTING.md guide for this project. 😅

[2020-03-08 23:39] caleb531 commented on #13
@tcosmo Oh, and as for the API design, I would prefer the method be called `to_regex`, under the `NFA` class. You are welcome to construct the functionality using multiple functions, as long as the name of each private function begins with an underscore (e.g. `_compute_internal_stuff`).

[2020-05-06 12:40] mhtb32 opened #17 "Feature request: Supporting transition with logical operations on input symbols"
I propose adding the functionality to define transition rules which are a logical combination of the input symbols, like:

[code]

One idea for implementation would be to use parser generator libraries such as the good old [PLY](https://github.com/dabeaz/ply) or its new refreshed version, [SLY](https://github.com/dabeaz/sly).

[2020-05-16 23:46] caleb531 commented on #17
@mhtb32 I appreciate the feature suggestion, however this feels too domain-specific. It would require completely rewriting the way the input is currently parsed (since you are no longer iterating character by character, but are dealing with sequences of characters and evaluating those chunks).

However, it seems like it should (in theory) be possible to create a subclass on the existing `DFA` clas

[2020-05-16 23:46] #17 closed

[2020-12-13 00:15] eohomegrownapps commented on #13
I ended up implementing this as part of a project I'm working on -- is this feature request still open? @caleb531

[2020-12-13 17:14] caleb531 commented on #13
@eohomegrownapps Yes, it's still open! Please fork the repository and submit me a Pull Request if you'd like to take a stab at working in your logic.

Please see my API notes below, as well as read through the [CONTRIBUTING.md](https://github.com/caleb531/automata/blob/master/CONTRIBUTING.md) to make sure tests, etc. are included with your PR:

[2021-01-15 23:52] jasonxia17 opened #21 "Bug: NFA doesn't support non-string states"
[code]

I would expect this to print `False`, because the NFA has no accepting states. Instead, it throws this error:
[code]

Would it be possible to replace `', '.join(current_states)` with `', '.join(str(state) for state in current_states)`, or something along those lines?

[2021-01-23 22:24] caleb531 commented on #21
@jasonxia17 Good call. I will fix this now and push up a new release for you to test within the next day or two.

[2021-01-23 23:08] jasonxia17 commented on #21
Thank you! By the way, I think the same issue also occurs here: https://github.com/caleb531/automata/blob/1672cfc6f431c46ef207eaa8f3d1b9ee6181c8e0/automata/base/automaton.py#L65

If the user provides an invalid non-string final state, then they will get a confusing error message instead of the intended error message.

[2021-01-28 02:13] caleb531 commented on #21
@jasonxia17 Good catch. I've just pushed 31fbe8f with the fix, and test for all automaton types in the library to validate the fix. But please test yourself and confirm things are good on your end before I push a release.

[2021-02-25 02:36] Tagl opened #24 "Feature request: DFA Union, Intersection, Complement, etc."
I would like to have operations like these implemented within the library. The most common operations used are probably:

- Union
- Intersection
- Complement
- Concatenation
- Reverse
- Kleene star

Another useful operation would be checking for equivalence of two DFAs.
If an equivalence check is added should the __eq__ method be overloaded with the equivalence check?
I'd like to open a discussion

[2021-02-25 03:23] caleb531 commented on #24
@Tagl Answering these in FIFO order 😉:

1. Those operations look good to me, if you're able to implement them (_with_ the appropriate tests)
2. I like the idea of an equality check, and would definitely like to override the equality operator (`==` / `__eq__`).
3. We should also override other relevant operators, like:
    1. Union: `|` / `__or__`
    2. Intersection: `&` / `__and__`
    3. Concate

[2021-02-26 14:36] lewiuberg opened #27 "Feature Request: Transition table"
Is this functionality for transition tables I made something of interest to implement in the source code?

![Skjermbilde 2021-02-26 kl  15 35 24](https://user-images.githubusercontent.com/43423020/109313214-4117f680-7848-11eb-83c2-7ffa4aee4d98.png)

![Skjermbilde 2021-02-26 kl  15 28 33](https://user-images.githubusercontent.com/43423020/109312643-94d61000-7847-11eb-92bf-28c5c5523119.png)

[2021-02-26 15:34] Tagl commented on #24
Concatenation, reverse and Kleene star are best implemented by utilizing NFAs so I'm gonna wait with those for a while.

Additional operations which I have implemented:

1. Subset: `<=` / `__le__` and `<` /  `__lt__` for proper subsets
2. Superset: `>=` / `__ge__`  and `>` /  `__gt__` for proper supersets
3. Difference: `-` / `__sub__`
4. Symmetric difference: `^` / `__xor__`
5. Is empty check, re

[2021-02-26 16:46] caleb531 commented on #24
@Tagl

Definitely follow the builtin convention, i.e. `issubset`

Great work so far! Again, feel free to submit as many Pull Requests as you'd like! (with tests for your new operations, of course)

[2021-02-26 17:44] Tagl commented on #24
First pull request (#28) is in, let me know if anything needs changing.

[2021-02-26 21:12] Tagl commented on #24
I think it would be good to change the default behavior of minify to forget the original names and I would like to include that change with these operations. I think in most cases tracking states through their names is not very important.
Suppose you calculate the union of multiple state machines (for example in my case I'm taking unions of hundreds of DFAs) then the state names will become quite

[2021-03-12 19:47] lewiuberg opened #29 "Feature Request: Visual confirmation of input"
I am new to contributing, so I ask beforehand this time.

I would like to have more visual representation of transitions. I have been working a lot with this library now, and I am wondering if some of these features should be implemented in the source code? I don't want to work on it if it is not of interest :)

https://user-images.githubusercontent.com/43423020/110990347-7ad21c80-8373-11eb-906c-d

[2021-03-17 21:52] #29 closed

[2021-03-17 21:52] #27 closed

[2021-03-20 00:43] caleb531 commented on #24
@Tagl That all sounds fine to me! I already merged your PR, which seemed to contain all of the operations we've discussed here. I'm going to keep this issue open, though, since we still have NFA operations (like concatenation and Kleene star) to implement.

I am now laying the groundwork (documentation and all) for an automata v5 release, which your DFA operation contributions will be part of. I w

[2021-03-20 22:32] caleb531 commented on #24
@Tagl Would it be possible for you to write a test case that covers the following code in `_has_cycle`? That code is currently not covered by any existing tests. Please see my screenshots below.

The code in red never seemed to be hit my the tests.

![Screen Shot 2021-03-20 at 3 30 36 PM](https://user-images.githubusercontent.com/872474/111887305-57b9f500-8991-11eb-9cfe-b63cb770bbdd.png)

![Screen

[2021-03-20 22:47] caleb531 commented on #21
@jasonxia17 I think it's safe to close this issue since I am confident the new tests cover all cases for the bug. Thank you for reporting it!

[2021-03-20 22:47] #21 closed

[2021-03-22 18:02] Tagl commented on #24
The testcase that was supposed to cover this had 2 mistakes in it, I have fixed it and pushed.

[2021-03-23 02:36] caleb531 commented on #24
@Tagl Thanks for that. I pulled down your code into my `v5` branch. However, I did need to re-add your original test case in order to cover the `if` in `_has_cycle`. The code coverage is now at 100% again.

[2021-04-07 09:30] lewiuberg opened #31 "Eliminate Lambda/epsilon"
I have made a method to transform an ε-NFA to an NFA, or eliminating lambda/epsilon if you will.
Since this is a step in the process of transforming an ε-NFA to DFA, I thought it could be nice to include it in this project?

[code]
![nfa](https://user-images.githubusercontent.com/43423020/113844209-8955fd00-9794-11eb-9a31-ee35b8ffbd81.png)

**transforms to:**

[code]
![eliminated_nfa](https://user

[2021-05-04 21:44] gabrielcocenza opened #32 "NFA can't take same input symbol to different state"
Hi,
First of all congratulations for the library. I didn't find a way how to insert same symbol to a different state. Let's assume this automata for example:

![image](https://user-images.githubusercontent.com/23260991/117072514-ee0a6600-ad06-11eb-814e-6925364444ab.png)

So in this case with the state is in `q0`, when receiving `1` could be at `q0` or `q1`. I think that the data structure to decla

[2021-05-04 22:32] #32 closed

[2021-05-16 02:20] caleb531 commented on #31
@lewiuberg I am open to this idea! Can you please submit a pull request with your method? Please add the relevant tests, as well.

[2021-05-20 09:24] lewiuberg commented on #31
Great! I will write tests and submit a pull request this weekend (busy week).

[2021-06-14 01:23] caleb531 commented on #31
Hi, @lewiuberg! I just wanted to check if you've had a chance to work on this. I am looking to release v4.1.0 soon, and would love to include this in here.

[2021-06-14 01:30] caleb531 commented on #24
@Tagl I soon plan to publish the current operations you've implemented as part of a v4.1.0 release.  Were you still planning to implement Kleene Star, Concatenation, and Reverse? Those appear to be the only operations which have not yet been implemented.

[2021-06-14 07:58] lewiuberg commented on #31
Hi!

Just started a new role, so sorry for the delay. I will have a look at it asap :)

[2021-06-15 13:01] lewiuberg commented on #31
I have added the code now on my fork. I will try to write the test tonight after my kids' birthday party, or else I'll do it tomorrow.

[2021-06-15 17:23] caleb531 commented on #31
@lewiuberg Oh gosh, no rush! Take the time to be present at your kids' birthday party. I'm not in _that_ much of a rush to push out a new release. Please work at your own pace. :)

[2021-06-18 20:04] lewiuberg commented on #31
Hi Caleb! I'm sorry to say i found a bug in the code, so i have to review the while thing before submitting a pull request. I am a little short on time the next couple of days, but I hope to get it done soon.

[2021-06-21 17:48] calebevans-suitecentric commented on #31
@lewiuberg No worries! Thanks for at least keeping tabs on it; that's all I hope for.

[2021-06-21 17:49] caleb531 commented on #31
@lewiuberg No worries! Thanks for at least keeping tabs on it; that's all I hope for.

[2021-06-29 00:56] Panchoclo01 opened #34 "Automatat PDA error: "The automaton entered a configuration for which no transition is defined (q0, a, 0)""
Using the PDA library, I get a code error with reference to transitions. "The automaton entered a configuration for which no transition is defined (q0, a, 0)".

(Attached code in paste.org)
https://www.paste.org/117966

Image of the PDA I made at https://automatonsimulator.com
![image](https://user-images.githubusercontent.com/86635704/123720355-defceb80-d851-11eb-9ea1-f7c1129b5337.png)

Image wit

[2021-06-29 03:19] caleb531 commented on #34
Thanks, @Panchoclo01. Can you please provide the code for the PDA that you are trying to read input into? (perhaps by printing it out in Python)

[2021-06-29 03:21] caleb531 commented on #34
@Panchoclo01 My apologies; I see you provided the code via paste.org; I missed the code snippet.

I am looking into this now.

[2021-06-29 03:22] caleb531 commented on #31
@lewiuberg BTW, just want to add: when you eventually submit your PR, please set the target branch to `v5`. That is my pending release branch which I will merge into `master` when all is said and done.

[2021-06-29 04:00] caleb531 commented on #34
@Panchoclo01 I've identified the issue: you it's because you're defining two `'a'` keys in your dictionary:

**Don't do this:**
[code]

**Do this:**
[code]

[2021-06-29 04:03] #34 closed

[2021-06-30 04:04] Panchoclo01 opened #35 "PDA automata error: "A symbol transition is adjacent to a lambda transition for this DPDA.""
When transforming the automata to code, the value I get back is an error.
A symbol transition is adjacent to a lambda transition for this DPDA

Here is the code at paste.org
https://www.paste.org/118004

And here the automata image.
![image](https://user-images.githubusercontent.com/86635704/123899639-93bc0900-d935-11eb-95d4-ce1931082f65.png)

(something to clarify:
![image](https://user-images.gi

[2021-06-30 04:47] caleb531 commented on #35
It's because your syntax for the single-element tuples is incorrect. Every ('') should be a ('',) in order to be a proper tuple.

Regards,
Caleb
On Jun 29, 2021, 9:04 PM -0700, Panchoclo01 ***@***.***>, wrote:

[2021-06-30 13:55] Panchoclo01 commented on #35
But in that case, i just wanna pops the symbols from stack, the same syntax where you show in your post.
![image](https://user-images.githubusercontent.com/86635704/123971975-7b290e80-d988-11eb-9de4-441d71674f03.png)

No do this
![image](https://user-images.githubusercontent.com/86635704/123972760-25a13180-d989-11eb-9f61-09e829116149.png)

Regards

[2021-06-30 17:10] caleb531 commented on #35
Yes, but this is not an API issue. This is a matter of Python syntax.

The ('q2', '') structure you see in the documentation is a tuple (surrounded by parentheses). When a tuple contains only one item, it must end with a trailing comma.

In other words, this is valid:
('',)

Whereas this is not valid:
('')

Does that make more sense? I know it's kinda weird syntax, but this is just how Python work

[2021-06-30 17:27] Panchoclo01 commented on #35
Thank you so much, now is working

Regards

[2021-06-30 17:27] #35 closed

[2021-07-06 16:49] alkkem opened #36 "Allow DFA transition function to be partial"
When I studied Automata Theory (and in the literature), the transition function for a DFA could be partial, this is, that there could be some states which do not have an associated transition for a symbol in the alphabet.
In my particular case, I was trying to get this automata:
<img src="https://user-images.githubusercontent.com/72548193/124636808-3d951b80-de89-11eb-9ed5-fce5d1776c1d.png" width=6

[2021-07-10 15:58] caleb531 commented on #36
@alkkem But... but... it's not a bug, it's a feature! 😝

What you have stumble upon is actually a controversial topic:
https://cs.stackexchange.com/questions/12587/in-a-dfa-does-every-state-have-a-transition-on-every-symbol-of-the-alphabet

In my Automata Theory class in college, I myself was taught that each DFA state must have a transition for every symbol. However, I can understand if this DFA

[2021-07-13 09:02] alkkem commented on #36
@caleb531 Hehe, you have cited the same page that I found when I was trying to figure out what the problem was.

Thank you for taking this in consideration :smile:

[2021-07-26 14:54] Tagl commented on #24
@caleb531 Yes I did intend to add those, I'll get around to it in the next few days.

[2021-07-29 04:21] caleb531 commented on #36
@alkkem You will be pleased to know that I just pushed up a partial DFA option to my in-progress v5 branch. The property is called `allow_empty` and you can specify it like so:

[code]

Please let me know what you think!

[2021-07-29 07:46] alkkem commented on #36
You are awesome!

A boolean parameter thst just solved the neverending discussion... Great!

[2021-08-12 16:03] Tagl commented on #24
@caleb531 I have submitted a PR (#38 ) which provides those operations.

[2021-08-12 16:07] caleb531 commented on #24
Excellent, thank you, @Tagl! I will get to it within the next few days.

[2021-08-15 00:18] caleb531 commented on #24
@Tagl I've reviewed your PR, and it looks very good! And I'll be happy to take care of updating the README with the documentation on these new operations.

Again, thank you so much! You have produced some really excellent work for this project. I plan to be releasing v5 very soon, at which point I will close this issue.

[2021-08-16 20:07] caleb531 commented on #24
@Tagl And with that, I have just released Automata v5 with all the new operations you contributed! Thank you again!

https://github.com/caleb531/automata/releases/tag/v5.0.0

[2021-08-16 20:07] #24 closed

[2021-08-16 20:08] caleb531 commented on #36
@alkkem Alright, I've released Automata v5 with the `allow_partial` parameter! Hope you enjoy, and let me know if you run into any issues:

https://github.com/caleb531/automata/releases/tag/v5.0.0

[2021-08-19 00:05] #36 closed

[2021-08-23 05:13] jasonxia17 opened #39 "Unable to install 5.0.0 with pip"
When I run `pip install automata-lib==5.0.0`, I get the following error message:

[code]

[2021-08-23 15:40] caleb531 commented on #39
@jasonxia17 Good catch, so sorry about that. I forgot to build the wheel distribution for v5—how embarrassing 😳 .  I've pushed it up now, and confirmed I can successfully run:

[code]

Please give it another go and let me know how it works. Again, sorry about that—how embarrassing. 😳

[2021-08-23 15:43] #39 closed

[2021-08-23 16:13] jasonxia17 commented on #39
Thanks, it works now!

[2021-09-10 17:42] eliotwrobson opened #40 "Type Annotations"
Hello,

Thanks for your work on this library! I've been using it as part of the backend for a course I'm TAing. For our purposes, we're working on adding type hints (which can be checked with mypy) to the library. We think this makes the code more readable, and easier to tell what certain functions do. Would there be interest in including these changes in this project? I'd be happy to put up a pul

[2021-09-10 23:16] caleb531 commented on #40
@eliotwrobson Maybe... would you be able to guarantee Python 3.6 compatibility? I am reading that Type Annotations have had somewhat of a messy history in Python 3:

https://towardsdatascience.com/type-annotations-in-python-d90990b172dc

What are your thoughts?

[2021-09-10 23:54] eliotwrobson commented on #40
We're working in 3.6, so compatibility shouldn't be an issue. We're not really using any super-complex features, just makes it easier to keep track of what's a set, dict, etc.

[2021-09-10 23:57] caleb531 commented on #40
@eliotwrobson Yeah, I'd say go for it! Please submit me a PR to `master` when you're all done. I'm guessing you won't bother to annotate the tests as well, just the core API modules, correct?

[2021-09-10 23:59] eliotwrobson commented on #40
Yes, more than likely just the core API.

[2021-09-11 00:03] caleb531 commented on #40
@eliotwrobson Great! Then by all means, feel free to start development on this as your own convenience.

[2021-10-28 11:44] justkrismanohar opened #41 "show_diagram for Non-DFAs"
DFAs have show diagram.
Expected NFAs an other machinces to have similar funtionality.

[2021-12-03 21:01] rvanren opened #42 "bug in dfa.minify"
I'm using version 5.0.0.

I have a generated DFA that essentially models a room and 2 persons, 0 and 1.  The states are labeled "L-XY" where L is the distance from the initial state, X is 0 or 1 depending whether person 0 is in the room, and Y same for person 1.  The edges are labeled "xE" or "xL" depending on whether person x enters or leaves the room.  When I minify this DFA, I get a one state D

[2021-12-04 05:24] rvanren commented on #42
I think I figured it out.  There are no final states.  Sorry for the inconvenience

[2021-12-04 16:34] caleb531 commented on #42
@rvanren No worries! Thanks for reaching out.

[2021-12-04 16:34] #42 closed

[2021-12-04 17:06] rvanren commented on #42
Thanks Caleb.  I love this package.  It’s super-easy to use and it works great.  Better even than I thought :-)

Robbert

On Dec 4, 2021, at 11:34 AM, Caleb Evans ***@***.******@***.***>> wrote:

@rvanren<https://github.com/rvanren> No worries! Thanks for reaching out.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/caleb531/

[2021-12-18 01:51] eliotwrobson commented on #40
I've started some development on this, and I've run into a small issue. There are some internal functions that violate the written interface for the NFA file (in some places, it is assumed states must be strings, but in others, it is assumed they are integers). Should I make changes to the files to respect the interface (and assume states are always strings)? Or is the interface incorrect?

[2021-12-19 21:46] jasonxia17 commented on #40
@eliotwrobson and I would prefer if the interface supported any hashable type as states. In the algorithms course that we TA for, it often makes sense to use integers or tuples as the states.

[2021-12-19 23:15] caleb531 commented on #40
@jasonxia17 (cc @eliotwrobson) I agree. Strings are an arbitrary choice: any hashable type should be usable for state names (or symbol names, for that matter). Furthermore, such would represent a backwards-compatible change, since strings are still supported, and the README mostly uses string-state-name examples anyway.

Eliot, I leave it to you if you'd like to declare dedicated interfaces to rep

[2021-12-19 23:36] eliotwrobson commented on #40
@caleb531 thanks for the clarification! I'll probably declare dedicated types that can be used across the different files. Will put up a PR once I get some things working.

I had one final question; there's a feature in Python 3.7 that makes setting up the typing a bit easier. Will you be retaining Pythen 3.6 support for this package (as 3.6 is EOL within the next week)? If you are, it's straightf

[2021-12-20 00:06] caleb531 commented on #40
@eliotwrobson Wow, time flies. Maybe I should check the [end-of-life schedule](https://endoflife.date/python) more often. 😅

Is this Py3.7 typing setup feature something more for you (the developer)? Or does it more so benefit the library user (someone who's including my lib as a dependency)?

[2021-12-20 00:24] eliotwrobson commented on #40
@caleb531 I'm actually not 100% sure, I _think_ it makes the type checking more robust on the user's end. It's detailed in [this post](https://stackoverflow.com/questions/41135033/type-hinting-within-a-class).

[2021-12-20 00:32] caleb531 commented on #40
@eliotwrobson I see. I think for the time being, I would prefer to preserve 3.6 compatibility for now, then down the road, roll out the 3.7 improvement as a [semver-major](https://semver.org/) release.

[2021-12-20 04:26] caleb531 commented on #41
@justkrismanohar I don't want visualization to be a primary focus of this library; I would certainly recommend @lewiuberg's project if you need more visualization capabilities.

Currently, the DFA is the only class with visualization capability (because, as I recall, someone submitted me a PR, and I thought to myself, "Why not?"). However, in hindsight, I think it would've been better to leave all

[2021-12-20 04:26] #41 closed

[2022-02-01 13:10] danilo071192 opened #44 "e-NFA"

[2022-02-01 23:10] danilo071192 commented on #44
Conversion of regular expression

[2022-02-02 03:20] caleb531 commented on #44
@danilo071192 There's already an open issue https://github.com/caleb531/automata/issues/13 regarding support for regular expressions in the library. Unfortunately, No one has stepped up to implement the code yet (and I'm too rusty to write it myself).

[2022-02-02 03:20] #44 closed

[2022-03-29 13:24] interrogator commented on #31
Would really love this feature @lewiuberg , any updates?

[2022-03-29 18:53] lewiuberg commented on #31
@interrogator Hi! I completely forgot about this :) When I was supposed to make a pull request last time, I got some errors. However, that could be due to my lacking automata skills (since I hadn't used it since I took the course). If you are confident that my implementation works when testing it on something you have the correct answers for, I can prepare a pull request as soon as I'm able.

As f

[2022-03-29 19:22] interrogator commented on #31
Would be wonderful if you took a look at it. Personally I don't think I am in a position to say that your PR could me merged, but your `lambda` branch works fine for me, so even if you managed to introduce the option I described above in that branch, I would be satisfied. But since others would benefit too, I would encourage you to get it merged here!

[2022-03-29 19:28] caleb531 commented on #31
@interrogator The maintainer of the repo here! 😁  Yep, I would be happy to review any PRs that come my way.

[2022-04-26 18:22] lewiuberg commented on #31
Hi guys! Sorry for the delay. I will deliver my thesis may 25th, and this is the first item on my to-do list. Again, very sorry for the delay!

[2022-07-23 14:17] abhinavsinha-adrino commented on #13
So I have implemented NFA/DFA to regular expression conversion indirectly by first converting DFA to generalized NFA, as @tcosmo mentioned. It so happened that I read the same book this summer as a project.
However, the expressions generated every time are not unique but, yes, are equivalent to each other (I tested several samples [here](https://bakkot.github.io/dfa-lib/regeq.html) This is posing

[2022-07-23 17:12] caleb531 commented on #13
@abhinavsinha-adrino What do you mean when you say the regular expressions not unique every time? Does the conversion process not produce the same regular expression given the same DFA/NFA?

[2022-07-23 17:17] abhinavsinha-adrino commented on #13
Not unique means the strings are not equal, but logically expressions are equivalent. The conversion algorithm consists of recursively removing states from the GNFA one by one, the choice of that state in each step results in different strings for the regular expression. At each step, I chose the state which is least connected in the machine, but again multiple such states may exists with equal co

[2022-07-23 17:20] caleb531 commented on #13
@abhinavsinha-adrino I see. Well, if the algorithm for choosing among states with equal connectivity is a deterministic algorithm (i.e. always returns the same output given the same input), then I don't see why the resulting regex strings would be different.

Are you choosing from those equivalent states at random?

[2022-07-23 17:29] abhinavsinha-adrino commented on #13
@caleb531 The thing is we are storing those states in sets, so choosing among them is random if we use min function, I can make it deterministic according to their name yes. But again for testing, we don't know what form of regular expression it is gonna output.
Manually, by hand, we may be writing a simpler regular expression that may not match the output of code. One way would be to follow the s

[2022-07-23 17:46] caleb531 commented on #13
@abhinavsinha-adrino Oh right, I forgot that this entire library is set-based. 🤦🏻‍♂️

I finally understand what you're saying—thank you for the explanation. That is,, our version of the expected output may not be string-equal to the actual output, even if they _are_ regex-equivalent.

I think the solution to that (as I think you are implying) would be to compare the machine's output with our handw

[2022-07-23 17:55] abhinavsinha-adrino commented on #13
👍I will write test codes in coming days.
I'll  try to work on regex equivalence part too and see if it works out.

[2022-07-24 02:23] abhinavsinha-adrino opened #45 "improvement possible in NFA.kleene_star(self)"
Automata version: 5.0.0

Presently kleene_star() function adds two new states (new initial state and new final state). However, this can be done by just adding one new initial state. The following image explains the method: It is not necessary for us to have only one accept state.
![image](https://user-images.githubusercontent.com/72262003/180629348-78f7505b-ecb5-4036-ac51-7a891a06e2f4.png)

I'm w

[2022-07-24 23:14] caleb531 commented on #45
@abhinavsinha-adrino I see. Well, I am not very familiar with the math behind the Kleene Star operation (that was a user contribution to the library). But, if you would be up to submitting a PR with new/updated tests, I would gladly review it!

[2022-08-16 20:29] caleb531 commented on #31
Hi, @lewiuberg—I hope you are well! I just wanted to follow up on this, as I am interested in wrapping up Automata v6 soon now that #46 has been merged to my new `develop` branch.

There were many changes in the aforementioned PR, so if you are still able to implement the functionality in this thread, you can find the latest state of the repository on the `develop` branch (this is also where you s

[2022-08-16 20:36] caleb531 commented on #13
Just an update for everyone: I have merged @abhinavsinha-adrino's generous contributions in #46, and will be publishing v6 of this library relatively soon. However, if you don't want to wait, you can pull the latest codebase off of my new `develop` branch:
https://github.com/caleb531/automata/tree/develop

[2022-08-17 18:46] maryembenali commented on #21
hey, is the library automata updated in relation with this error tho ( this one https://pypi.org/project/automata-lib/ )?

[2022-08-17 19:06] caleb531 commented on #21
@maryembenali Yes, that was fixed in the NFA class for the v5 release currently on PyPI.

I am aware there is currently a similar issue with DFAs, but I already have that fixed and it will be part of the upcoming v6 release.

[2022-08-17 19:31] eliotwrobson commented on #40
Closed with discussion on PR.

[2022-08-17 19:31] #40 closed

[2022-08-17 19:43] eliotwrobson opened #47 "Performance improvement for equality checking"
The `__eq__` function in the DFA class uses the symmetric difference between both DFAs, which is an O(n^2) time algorithm (and requires creating an auxiliary DFA). The Hopcroft-Karp algorithm doesn't require creating the auxiliary data structures, but requires the use of a union find. I think it's possible to copy in the code from a generic Python Union-Find, but the `networkx` package has an impl

[2022-08-17 19:46] caleb531 commented on #47
@eliotwrobson How complex/lengthy is the Python implementation of the algorithm? If it is not too bad, I would definitely prefer to minimize project dependencies.

But otherwise, if the algorithm is too sophisticated, I may consider `networkx`, especially if other library methods could also utilize it.

[2022-08-17 19:50] eliotwrobson commented on #47
The Python implementation isn't _too_ bad, (you can view [here](https://networkx.org/documentation/stable/_modules/networkx/utils/union_find.html)) but `networkx` enabled us to shorten the implementation for a bunch of other functions, so I think it's worth including. (For example, the `isempty` function can have a bunch of it's helper functions replaced by `networkx` calls).

[2022-08-17 19:56] caleb531 commented on #47
@eliotwrobson A bunch of other functions? I like the sound of that.

Very well, then! I approve the addition of `networkx` as a dependency. Just please remember that when you submit your next PR to add the dependency, you'll need to add `networkx` to the `dependencies` array in `pyproject.toml` (with whatever version constraint you deem appropriate).

Thanks again!

[2022-08-17 20:38] maryembenali commented on #21
alright , i just wanted to check , not too sure if it's related to this bug but i was wondering why would i keep getting this error with nfa :"automata.base.exceptions.InvalidStateError: end state q for transition on q0 is not valid" even tho there's no transition q in my  automata  while using " nfa.accepts_input(my_input_str)" ( my automata works in a seperate folder but not in my project one)

[2022-08-17 20:47] caleb531 commented on #21
@maryembenali Yeah, I think you're describing a separate issue than this ticket. Can you please create a separate issue so I can look into it? Please include the NFA code you are using, if possible—anything that might help me reproduce the issue on my end.

[2022-08-17 21:09] maryembenali opened #49 "(NFA)automata.base.exceptions.InvalidStateError: end state q for transition on q0 is not valid"
hey i ve getting this error while using "nfa.accepts_input(my_input_str)" in my project , i tried the same structure of the automata in a seperate file and it functionned properly , im wondering if anyone could guide me a little to figure out what to fix ( or at least the scenarios that may lead to this error thanks!
here's my project link
https://github.com/maryembenali/automata.git

[code]

[2022-08-17 21:29] caleb531 commented on #49
@maryembenali Okay, I have your Tkinter app up and running. Can you please provide me the field values you are using to test? I'm not sure what I should be entering on each of the screens.

<img width="690" alt="Screen Shot 2022-08-17 at 2 27 02 PM" src="https://user-images.githubusercontent.com/872474/185246438-d7ad7286-5a1d-4bcd-b182-b0afdc78ee68.png">
<img width="390" alt="Screen Shot 2022-08-1

[2022-08-17 21:41] maryembenali commented on #49
@caleb531
These are the inputs i tried to enter
- tick indeterministic (doesn't do anything for the moment)
- 2
-    *a
     *b
- 3
- {"q0": {"a": "q1"}, "q1": {"a": "q1", "b": "q2"},"q2": {"b": "q0"}}
- q0
- 1
-q1
Also i recommend to change the path of the image so it can be displayed properly
Thank u very much!

[2022-08-17 21:51] caleb531 commented on #49
@maryembenali Perfect, I was able to reproduce the error. I'm pasting it here so I can reference it later:

[code]

I will start debugging later today or tomorrow. I need to take a break right now.

[2022-08-17 23:34] caleb531 commented on #49
@maryembenali Good news! I added some code to print out the NFA instance just before the error is thrown. I've pasted the output below:

[code]

The immediate problem I can see is that the end states in your transition map are strings, which would work fine for a DFA. However, [per the documentation](https://github.com/caleb531/automata#class-nfafa), NFAs require that those inner-dict values be se

[2022-08-17 23:34] #49 closed

[2022-08-18 04:08] caleb531 commented on #47
@eliotwrobson Okay, #48 has been merged to `develop`. Can you please submit PRs for the other methods you thought could be refactored to leverage `networkx`?

[2022-08-18 04:36] eliotwrobson commented on #47
Sounds good. I'll make one for all the DFA functions first. The one for the NFA functions might involve some of the new regex parsing stuff, and I want a chance to look at that before integrating the changes.

[2022-08-18 12:08] maryembenali commented on #49
@caleb531 thank you so much that was very helpful  ( i switched to this function ast.literal_eval(str) instead of json.loads(str)

[2022-08-18 21:55] eliotwrobson commented on #47
Closing since PRs for equality function and networkx dependency have been merged.

[2022-08-18 21:55] #47 closed

[2022-08-19 16:59] lewiuberg commented on #31
Hi, @caleb531!

I'll look into it right now. I have changed work since we last spoke. So `[excuse for excuse in not_good_enough]` 😅

[2022-08-19 17:26] caleb531 commented on #45
@abhinavsinha-adrino Just in case you were wondering: I plan to keep this issue open until your code gets merged to `main` as part of the v6 release. 😄

[2022-08-19 17:56] lewiuberg commented on #31
I see that there is an `eliminate_lambda` method there now. However, it does not produce the results I made as a blueprint for myself when I made mine. So I guess you have reached the conclusion that it does not work properly?

So I will submit a PR overwriting this method. To me it looks like some protected method are only used for the `eliminate_lambda` method. I will list the below, and remove

[2022-08-19 18:29] caleb531 commented on #31
@lewiuberg Ah, that `NFA.eliminate_lambda` method appears to have been recently added by @abhinavsinha-adrino in 0e0da75.

However, if you feel you can write a better / simpler / more efficient implementation, then I'd say go for it! And that means removing any unused helper methods as well, as long as the tests still pass!

[2022-08-19 18:37] abhinavsinha-adrino commented on #31
@lewiuberg Hi, can you specify your test case which does not produce an expected result?

[2022-08-19 19:32] lewiuberg commented on #31
@caleb531  I have tested @abhinavsinha-adrino's

## My test case

Here they look pretty much the same. Except mine keeps `q2` as {}

Diagrams are equal.

[code]

Original table
[code]

@abhinavsinha-adrino's implementation table after elimination
[code]

My implementation table after elimination
[code]

## @abhinavsinha-adrino's test case

[code]

Original table
[code]
Diagram:
![Skjermbilde 2022-

[2022-08-19 19:47] abhinavsinha-adrino commented on #31
@lewiuberg i see that in your implementation for my test case, the start state 0 is an accept state, but that should not be. I think it's a small error. It will recognise the same language after this correction.

[2022-08-19 19:59] lewiuberg commented on #31
You are absolutely correct. I knew (as I have mentioned earlier) that something was off with my implementation. Because some of my test cases did not work as expected. It was the reason I didn't submit a PR. I think we should keep your implementation.

As a reference I will include my code below.

[code]

[2022-08-26 18:47] caleb531 commented on #31
Closing this ticket now that Automata v6 is released with a dedicated `NFA.eliminate_lambda` method.

https://pypi.org/project/automata-lib/

[2022-08-26 18:47] #31 closed

[2022-08-26 18:48] caleb531 commented on #13
Great news, everyone! Automata v6 is finally out with an API for working with regular expressions. Please see the README for details:

https://pypi.org/project/automata-lib/

[2022-08-26 18:48] #13 closed

[2022-08-26 18:49] caleb531 commented on #45
@abhinavsinha-adrino Closing this issue now that Automata v6 is released with these optimizations/fixes. Thanks again for contributing these!

[2022-08-26 18:49] #45 closed

[2022-08-26 19:00] abhinavsinha-adrino opened #55 "NFA.to_regex() not implemented"
@caleb531 I think by mistake I wrote `NFA.to_regex()` but this function is not there, instead `NFA.from_regex(regex)` is there. For converting NFA to regex, one has to convert NFA to GNFA and then GNFA to regex.

Very sorry for this.

[2022-08-26 19:20] caleb531 commented on #55
@abhinavsinha-adrino Oh, shoot. How soon can you submit me a PR with the code for `NFA.to_regex`? Unless you mean that `NFA.to_regex` is not feasible to implement right now, and so I should remove it from the README.

[2022-08-26 19:22] abhinavsinha-adrino commented on #55
@caleb531 GNFA is derived from NFA, I'm not sure if I can import GNFA into NFA class. without GNFA we can't convert to regex.

[2022-08-26 19:26] caleb531 commented on #55
@abhinavsinha-adrino I see. Well, we already have `GNFA.from_nfa`, so perhaps we can just remove `NFA.to_regex` from the documentation and recommend the `GNFA` class be used for regex-related work.

I will work on this now, and push out a supplemental release.

[2022-08-26 19:34] abhinavsinha-adrino commented on #55
@caleb531 Yeah, that will be great; we are using GNFA class primarily for NFA & DFA to regex conversion. Adding a direct function will cause circular imports; maybe there is a workaround in these cases, but I'm not aware of it.

Maybe in the release notes or README, we can mention how one should convert NFA/DFA to regex using this package, it's not very trivial.

[2022-08-26 19:40] abhinavsinha-adrino commented on #55
@caleb531 instead of removing `NFA.to_regex()`, edit it to `NFA.from_regex`, this was missed in the documentation.

Are you working on this part, or should I do it? Its just one/two line change.

[2022-08-26 19:44] caleb531 commented on #55
@abhinavsinha-adrino No worries! It was my executive decision to subclass `GNFA` from `NFA` rather than from `FA` (which I believe was the right decision, to achieve parity with existing API classes like `MNTM`/`NTM`).

And thanks for the heads up re: the documentation—I will take care of updating the README accordingly. I had actually just removed it in 9453d1f9cd517d0106f4042d5a50536c37efa111 bu

[2022-08-26 19:49] abhinavsinha-adrino commented on #55
@caleb531 Thanks a lot!
Yes it can very will achieved by `GNFA.from_nfa(my_nfa).to_regex()`. What I was thinking is, GNFA is not a popular part of automata theory, as its sole purpose is to help in conversion. So it is possible that many people may not be aware of GNFA and hence won't be using it. So I recommend mentioning explicitly how one should achieve `NFA.to_regex` functionality

[2022-08-26 20:00] caleb531 commented on #55
@abhinavsinha-adrino Understood. Could you please take a look at my `main...develop` diff and see how it looks to you?

https://github.com/caleb531/automata/compare/develop

I have included documentation on converting NFA to a regular expression, as well as some other corrections.

[2022-08-26 20:04] abhinavsinha-adrino commented on #55
@caleb531 It looks great and will avoid any more confusion. Thanks again for cleaning up my mistake.

[2022-08-26 20:16] caleb531 commented on #55
@abhinavsinha-adrino Hey, I decided to try one last thing. It looks like circular imports _can_ work if we implement them correctly. Per https://stackoverflow.com/a/22210807/560642, if we import the entire module (rather than a `from ...` import), it works just fine, and all tests continue to pass:

[code]

With that, can you please submit me a PR with this `NFA.to_regex` method and the appropriat

[2022-08-26 20:22] abhinavsinha-adrino commented on #55
@caleb531 Oh, then I will update soon.

[2022-08-27 00:18] caleb531 commented on #55
@abhinavsinha-adrino Just merged your PR into my `develop` branch after resolving a conflict in the README. Will aim to publish a v6.0.1 release tonight or tomorrow.

[2022-08-27 00:42] caleb531 commented on #55
@abhinavsinha-adrino Alright, just released v6.0.1 with the fix. Closing this ticket accordingly. Thanks for the quick fix.

https://pypi.org/project/automata-lib/6.0.1/

[2022-08-27 00:50] caleb531 commented on #55
@abhinavsinha-adrino Reopening this issue, because we have a MAJOR problem. If I try to

[code]

It turns out that per our circular changes, importing `NFA` will fail unless we _first_ import `GNFA`. This means I need to revert your PR and we are back to square one. So sorry. 😕

[2022-08-27 01:04] caleb531 commented on #55
@abhinavsinha-adrino Okay, just pushed v6.0.2 that effectively reverts your PR and instead points to the simple workaround for direct NFA->regex conversions.

https://pypi.org/project/automata-lib/6.0.2/

[2022-08-27 01:04] #55 closed

[2022-08-29 19:11] caleb531 opened #57 "Implement NFA features (e.g. input reading) for GNFA"
@abhinavsinha-adrino I'm starting to wonder if I misunderstood the purpose of GNFAs when I suggested that we subclass GNFA from NFA. Let me explain the context:

I was trying to write a test for GNFA just now to verify that `GNFA.read_input_stepwise()` operates as expected. However, I was encountering one error after another in trying to accomplish this. I then realized that, because GNFAs can hav

[2022-08-29 21:16] abhinavsinha-adrino commented on #57
@caleb531 From what I know, the only purpose of GNFA was to aid in the recursive conversion of NFA to regex. Adding functional methods like this will make the GNFA class consistent with other classes in this package, however, I feel it's not worth it because again it is not made for this purpose. Talking of sense, yes GNFA can read inputs in theory.

The way automaton.py in automata.base is writte

[2022-08-29 21:32] abhinavsinha-adrino opened #58 "main branch not updated according to latest release."
@caleb531 I don't if this is a real issue.

[2022-08-29 21:35] caleb531 commented on #58
@abhinavsinha-adrino Wow, good catch. It looks like I deployed v6.0.2 on the `develop` branch, not `main`. But I've merged it into `main` now, and since the tag/release is already published, nothing more needs to be done.

Thank you for letting me know.

[2022-08-29 21:35] #58 closed

[2022-08-29 22:11] caleb531 commented on #57
@abhinavsinha-adrino I think I understand. Personally, I would prefer the primitives in this library to be consistent with the theory as much as possible, and if GNFA can theoretically read inpuT, then we should allow/implement that.

In order to implement this properly for GNFA, I think we would only need to make the following changes:
- Move the `_lambda_closure_dict` creation to a dedicated met

[2022-08-30 11:14] abhinavsinha-adrino commented on #57
I won't support use of `re` package. In this automata package we have our own automata machinary, and every function performs it's task from the very basic theory. If we use `re` package to help in reading inputs then it would become theoretically inconsistent for GNFA. It is not good to use `re` module when we have our own regex module.

If you want to have the `re` package to see if the regex ma

[2022-08-30 17:46] caleb531 commented on #57
@abhinavsinha-adrino Thank you for your candor and thoughtfulness in challenging my proposed approach. It shows you really care about the direction and quality of the library, and for that I am grateful. With that, you have convinced me that incorporating the stdlib `re` module into this project would be improper.

Regarding your alternative approach: how could we cache an underlying NFA inside th

[2022-09-06 21:51] caleb531 commented on #57
@abhinavsinha-adrino Just wanted to check in: do you have any thoughts on my caching mechanism to efficiently manage an underlying NFA within each GNFA? If the solution sounds good to you, is this something you would be willing to implement?

[2022-09-07 04:00] abhinavsinha-adrino commented on #57
@caleb531 `functools.lru_cache` sounds good to me for the purpose, however I can't comment on the whole method, need to try it out if it works properly.

Effort wise what I think, the fastest way we can implement this is by using `GNFA.to_regex` to convert GNFA to a regex, then convert that regex to an NFA (using `NFA.from_regex`), then use this NFA for reading input. I am not familiar with cachin

[2022-09-07 20:06] caleb531 commented on #57
@abhinavsinha-adrino Yeah, `functools.lru_cache` is just a decorator on top of any function definition, and I don't think we need to define a `maxsize` (or we can set it to something arbitrarily high, like `128` or `256`).

[code]

Anyway, this all sounds great to me. How soon do you think you could get to this? (no rush here)

[2022-09-07 20:47] abhinavsinha-adrino commented on #57
@caleb531 I'm not sure but not anytime soon. I remain very occupied with my semester work. I''ll surely work on this whenever I get time.

[2022-09-07 22:39] caleb531 commented on #57
@abhinavsinha-adrino That's fine! School should be a priority.

I'll see if I can take a stab at it, and perhaps submit you a PR for you to review.

[2022-09-26 19:04] caleb531 commented on #57
@abhinavsinha-adrino So I was able to implement a `GNFA.read_input_stepwise` method, which works by converting the GNFA to an NFA, and calling ` read_input_stepwise` off that NFA. But something doesn't feel right. Allow me to explain:

## The ~~elephant~~ underlying NFA in the room

When I call `read_input_stepwise()` on my GNFA, I receive a generator that yields states that do _not_ belong to the

[2022-09-26 22:41] caleb531 commented on #57
Great, glad to hear you feel the same. With that, I have just merged 4c95310e6929e2f9c63696b6d49dbcfc4cdd3aa8 and dcad68566e961f324b65a7eaecdf30347cb2aba7 into the `develop` branch, so I think it's fine to close this issue now.

Thanks again for the feedback and for all your contributions to this project, @abhinavsinha-adrino!

[2022-09-26 22:41] #57 closed

[2022-10-01 22:48] colette-b opened #59 "documentation discrepancy for dfa.minify()"
Hello,
The documentation says "retain_names=False" is default,
but in the code, it's actually "retain_names=True".

[2022-10-01 23:07] caleb531 commented on #59
Oh dear, thank you for the catch, @colette-b! What do you think the default should be?

I am leaning towards `retain_names=False` since that is what's already in the documentation. Plus, most of the other DFA operation methods already have `retain_names=False` as the respective default for those methods.

cc @Tagl (who originally implemented this)

[2022-10-01 23:15] colette-b commented on #59
I agree, `retain_names=False`  feels like the more natural default :)

[2022-10-02 00:27] colette-b opened #60 "Conversion from DFA to NFA does not properly handle state names of mixed data types"
I found the following bug:
nfa._add_new_state introduces integers into the set of states.

Current code is:
[code]
which could be fixed, for example, in this way:
[code]
EDIT: this bugfix actually runs into other problems later - this is just an idea
_____________________
This can lead to logic problems later. For example the following code fails:
[code]

[2022-10-03 13:10] Tagl commented on #59
I don't have a strong opinion on which default is more natural. I do however think it is much more common to not care about the names so False seems like a fine choice.

[2022-10-06 19:32] eliotwrobson opened #61 "Regex parsing efficiency"
In looking at the current regex parser, it seems like it could be made significantly faster with a more robust implementation (i.e. use specialized classes to reduce overhead when applying the NFA creation operations). We're working on a fast regex parser for our course (since we need to parse large regexes). Would there be interest in adapting a version for integration with this library?

[2022-10-06 19:38] caleb531 commented on #61
@eliotwrobson I would certainly be open to it! By "adapting a version for integration with this library", do you mean that the faster regex implementation would be part of this library's codebase (as opposed to adding another dependency)?

[2022-10-06 20:35] caleb531 commented on #60
@colette-b Hm, I see your point, although I have intentionally added official support for non-string states over the past few releases of the library.

I was also able to fix your example by using pure integers for the state names instead of numeric strings. Note that the input symbols can remain as strings:

[code]

[2022-10-06 20:45] caleb531 commented on #60
@colette-b Good news! I was actually able to refactor `_add_new_state` to correctly handle non-string states, thus fixing your original example. All other automated tests are passing too, so there should be no regressions from this refactor.

In case you're curious, here is the new implementation:

[code]

[2022-10-06 20:58] caleb531 commented on #61
@eliotwrobson Okay, that sounds great! I don't have anything to suggest from an architecture perspective, since I don't want to put arbitrary restrictions on your ability to implement these optimizations.

So with that, I will happily review any PRs you send my way! And if I spot anything I'd like to discuss, we can take up the discussion there.

[2022-10-08 18:49] caleb531 commented on #61
@eliotwrobson Even though I've merged your PR #62, I plan to keep this issue open until I release the functionality into `main`.

[2022-10-08 22:26] eliotwrobson commented on #60
@caleb531 Looking at this, won't there be a similar issue whenever an NFA contains both string and integer states? I think it has to do with the fact that the `from_nfa` function uses strings as state names.

[2022-10-08 22:28] caleb531 commented on #60
@eliotwrobson Possibly, but with the above fix I've implemented, all tests are still passing, including [this new test I added that specifically addresses state names of mixed types](https://github.com/caleb531/automata/blob/develop/tests/test_nfa.py#L491).

[2022-10-09 00:16] eliotwrobson commented on #60
@caleb531 It looks like the test you wrote checks for the fact that the `_add_new_state` now has better support for integer string state names, but there are still issues when manually constructing an NFA.

The following (somewhat contrived) assertion fails:
[code]

[2022-10-09 00:33] caleb531 commented on #60
@eliotwrobson Thank you for the (contrived) example, actually! With it, I can verify that there is a larger issue here.

Let me play around with the code and see what I can come up with for a solution.

[2022-10-09 00:39] eliotwrobson commented on #60
@caleb531 Sounds good! I fixed this issue in our local version of the library by making changes to `from_nfa` to handle the internal states differently, our implementation is here:
[code]

Note that this required modifying some of your test cases to comply with the different state types.

[2022-10-09 03:35] caleb531 commented on #60
So I took a stab at it. Definitely more complicated than I thought. My approach was something like the following:

[code]

I think the implementation _may_ be right, but it's kind of a chicken-and-egg problem because I have to modify the tests correctly to know for sure.

@eliotwrobson Since you already have this solved in your fork, would you be so kind as to submit me a PR with the new `DFA.from

[2022-10-09 03:41] eliotwrobson commented on #60
@caleb531 Sure! Just a heads up that the function on my end changes the types of the states used (from strings of tuples to the tuples themselves), and the tests will reflect that. I'll put up the draft PR with the implementation ASAP (for greater visiblity), then update the tests on the draft.

[2022-10-19 22:07] caleb531 opened #71 "Make Automaton instances immutable"
@eliotwrobson I want to run something by you that I've been mulling over for the past week.

## Part 1: Precomputing lambda closures was a good idea

When you integrated `networkx` into the library back in ed1cdffcccb90a03f1892147f42ea1a9f62414f6, you added logic to precompute+cache the lambda closures for an NFA (via `self._lambda_closure_dict`). Previously, these lambda closures were (arguably e

[2022-10-20 04:43] caleb531 commented on #71
@eliotwrobson Wow, thank you for the thorough analysis! I am definitely leaning towards your view of making all automaton instances immutable, which would definitely represent the next natural evolution of this library. You also make an excellent point about the validation, as this is something that's always bothered me a little deep down. 🙃

## Considerations with immutability

Okay, so if we are

[2022-10-20 05:02] eliotwrobson commented on #71
@caleb531 Sounds like a plan! I can start copying over pieces of our code that consist of compatibility rewrites, then we can switch over to enforcing the internal immutability later on. A lot of the internal refactors will only apply to operations between objects, so the other classes that don't have as many of these shouldn't require as much work.

With respect to dataclasses, I actually don't k

[2022-10-20 17:35] Tagl commented on #71
I have not been working with the library for quite some time. However, I never had to alter the automata I used after creation. I worked with them as if they were immutable. If I needed to mutate I would perform all mutations myself. Otherwise I used the union/intersect/etc. methods to mutate and construct more complicated DFAs. However I must note that I was working with permutation patterns so m

[2022-10-20 19:04] caleb531 commented on #71
@eliotwrobson

Well, I was thinking that `@dataclass` would already be a nice substitute for the namedtuples used in the PDA stack/configuration classes, so it might be worth adopting for the other library primitives as well. It might also be a way to gradually introduce type annotations into the library.

Regarding the autogenerated ordering, [the docs](https://docs.python.org/3/library/dataclass

[2022-10-21 03:16] caleb531 commented on #71
@eliotwrobson So I've been playing around with dataclasses, and I've reached a dilemma: because we are type-casting the input parameters, the types of the input arguments are not necessarily the same as the types of the attributes that end up on the automaton. This ambiguity seems to confuse type checkers (like mypy) in my testing.

For example, a DFA can currently accept any iterable sequence as

[2022-10-21 05:08] eliotwrobson commented on #71
@caleb531 your discussion above is why I opted against dataclasses for our local implementation, there's just too many things you have to work around for it to be worthwhile (and these are all things that can be done from scratch without _that_ much trouble).

As for our local implementation, we have these overrides in the base automaton class:
[code]

Then, unfortunately in the initialization fun

[2022-10-21 17:15] caleb531 commented on #71
@eliotwrobson:

Ha yes indeed. Thank you for your patience while I learned that the hard way. 😅😜

Ever since I read this caveat in my email this morning, I've been thinking about a best-of-both-worlds solution, and I think I have it. Effectively, we can have one of the automaton parent classes handle the `object.__setattr__` iteratively, and have each subclass pass its specific input parameters to

[2022-10-21 19:55] caleb531 commented on #71
@eliotwrobson Great news! Not only do I have DFA, NFA, and GNFA fully immutable, but they are also fully hashable. But one small caveat has come up:

## The Equality Problem

While reading up on the `__hash__` method, I discovered a [Python requirement](https://docs.python.org/3/reference/datamodel.html#object.__hash__) stating that two objects that are considered `__eq__` are also implied to have

[2022-10-21 20:05] Tagl commented on #71
Sad that we cannot use the equals operator in a mathematical sense but if you want them to be hashable then I think there's no way around it.

[2022-10-21 20:13] eliotwrobson commented on #71
@caleb531 I left a brief note on one of your commits, and I think there's a few ways you could take things. From a theoretical POV, the most natural way to view an automata (especially DFAs and NFAs that can be manipulated easily) is as an abstract representation of a set (which is just the set of strings it accepts, possibly infinite). Things like the state names, and really the transitions thems

[2022-10-21 20:22] Tagl commented on #71
I however don't think it is necessary that they are hashable.
I have used sets as keys many times but those are all finite sets.
The only use case I have in mind for my work would require the hashes to be equal if they (possibly infinite) sets represented are equal.

[2022-10-21 20:57] Tagl commented on #71
Perhaps we can figure out some decent hashing function that is slow which would allow us to handle that use case. But the only ones I can think of at the moment are bound to have many collisions.
So I would vote that equals operator remains mathematical and we rather try to be smart about the hashing if we want that.

[2022-10-21 21:11] caleb531 commented on #71
@eliotwrobson @Tagl You have some good points about practical usage and the underlying theory, which are both important to me. And another important factor for me is creating a library that fits into Python's orthogonal language design, as it makes the API more friendly for Python developers to consume. To me, it's all a balance, and I want to consider your feedback carefully.

Bear with me: I wil

[2022-10-21 21:29] eliotwrobson commented on #71
@caleb531 thank you for considering our input, and for your work on this project as well! I think that I'm inclined to agree with @Tagl , we should really have a hash function that somehow represents the underlying set if we do it at all. Even though this is somewhat inconsistent with the way Python's immutable types work, you would have a hash function that relies on (effectively) implementation

[2022-10-21 21:34] eliotwrobson commented on #71
Unrelated, but @Tagl if you have code that's being used for creating Automaton's representing a finite language, could you include that on an issue or submit a PR? I think it would be great for the library to include some standard creation functions for people.

[2022-10-21 21:56] caleb531 commented on #71
@eliotwrobson Thank you for your feedback—I think I finally understand what you mean regarding the automaton attrs being implementation details and how having a hash function based on those attrs would not really be representative of the underlying language that the automaton instances actually represent.

With that, you have persuaded me that a value-based equality algorithm would not be very use

[2022-10-21 22:29] eliotwrobson commented on #71
@caleb531 With regard to your items:

1. There is a `__eq__` algorithm for NFAs, as I mentioned in another comment, it's in the same paper as the one linked in the algorithm for DFAs. The algorithm is almost identical to the DFA algorithm, besides a change to the way transitions are accessed. I can try to take a look later, but it would be great if you could take a stab at it.
2. Some of these mig

[2022-10-21 22:53] Tagl commented on #71
I don't have anything that's general written down in code but I could add a method that constructs a DFA from a finite set of strings.
The DFA is constructed as a prefix tree, then it can be minimized if desired.
Aho-Corasick is also relevant here.

I think for items 1-3 we can simply convert between DFA and NFA as needed to start with and research for improvements.

[2022-10-21 22:53] caleb531 commented on #71
@eliotwrobson

Sure, I can take a stab at the NFA equivalence implementation. I am attaching the paper I am following for reference (I found it in the your docstring for `DFA.__eq__`): [Regular Language Equivalence.pdf](https://github.com/caleb531/automata/files/9842897/Regular.Language.Equivalence.pdf)

As easy as it would be to convert the NFA to a DFA and then perform the already-implemented op

[2022-10-21 22:57] eliotwrobson commented on #71
@caleb531 Thank you! Also, I think you're right, minimizing the conversions can really improve things. For example, there's an algorithm to compute the intersection of the language of two NFAs that might be worth including: https://www3.nd.edu/~dchiang/teaching/theory/2020/hw/hw2.pdf

[2022-10-22 01:54] Tagl commented on #71
@eliotwrobson I can make a PR but I'll have to add some tests then. Until then here's a prefix tree version. I only have Aho-Corasick written in C++.
[code]

[2022-10-22 01:55] eliotwrobson commented on #71
I think this is enough I can take it from here. Thank you!

[2022-10-22 04:55] caleb531 commented on #71
Just an update: I am making good progress on the NFA equality algorithm. I still have to compute the transitions properly, but I think I know what I can do for that, which I will try out tomorrow morning.

[2022-10-22 17:11] caleb531 commented on #71
@eliotwrobson Good news! I think I have the NFA equivalence algorithm working! Although I'd like you review it to make sure I have the algorithm right (_but only when it's next convenient for you—please don't let me disturb your weekend_).

If I wrote this correctly, the algorithm is indeed very similar to the DFA equivalence. The key was to use frozensets as the first value in each pair tuple, an

[2022-10-22 17:23] eliotwrobson commented on #71
@caleb531 no worries! I'm not busy this weekend. I'm happy to take a look. Per the discussion on that commit, if the algorithm isn't working for testing regex equivalence, then there's a subtle issue in the implementation somewhere. Like a few of the other algorithms, this one is a bit tricky to implement correctly (and why large test cases generated by things like regexes are helpful for debuggin

[2022-10-22 18:09] caleb531 commented on #71
@eliotwrobson Hm, trying a few of those things now, without success. Here's my diff:

[code]

The same regex test still fails, but nothing else fails. Also, my existing example NFAs for the NFA equality test are probably not great examples—I just made them the same NFA with different state names. Do you have any better examples you could provide?

[2022-10-22 18:12] eliotwrobson commented on #71
@caleb531 in the diff you posted, you need use the eliminate lambda on both self and other. And I should have some small interesting test cases lying around, will take a look.

[2022-10-22 18:12] caleb531 commented on #71
@eliotwrobson Correction: it looks like the original test that was failing was actually trying to check equality.

All those assertions are passing, but now the one failing assertion is the check for non-equality:

[code]

[2022-10-22 18:14] caleb531 commented on #71
@eliotwrobson Good call about calling `eliminate_lambda()` on `other`. Unfortunately, that didn't change anything either. The `assertFalse` case is still failing.

[code]

[2022-10-22 18:16] eliotwrobson commented on #71
@caleb531 Maybe try asserting NFA equality before and after running `eliminate_lambda`?

[2022-10-22 18:23] eliotwrobson commented on #71
With respect to our test cases, we have a few small cases checking checking that certain regexes are equivalent to some small NFAs. They're formatted for pytest, but you should be able to call the construction code directly:
[code]
These don't use a ton of epsilon transitions but _might_ help debug. Also I translated the regular expression syntax (since our regexes use slightly different syntax),

[2022-10-22 19:40] caleb531 commented on #71
@eliotwrobson Eureka! I fixed it!

The problem was that I did not correctly refactor `final_states`. Because the values in `lamda_closures` are always sets, the logic was effecting checking if `some_set in automaton.final_states`, which will always be `False`.

Will commit this right away.

[code]

[2022-10-22 19:50] eliotwrobson commented on #71
@caleb531 Fantastic! To your questions from before, for the NFA-native `subset` function, that can be implemented in the same way as the DFA `subset` function, as the logic in that DFA function relies on the product construction, and the PDF I linked outlines how to compute the product construction for NFAs (since that requires special handling of epsilon transitions). The state checking logic sho

[2022-10-22 20:33] caleb531 commented on #71
@eliotwrobson Got it, that makes sense. I'll look at expanding the DFA/NFA operations a bit later. Next up, I'm going to switch my attention to the *PDA and *TM classes, whose implementations and tests are still not refactored for immutability.

[2022-10-23 16:32] caleb531 opened #79 "Implement Automaton __iter__ for enumerating accepted language?"
@eliotwrobson So with all the recent discussion around automata ultimately being representations of finite languages, it got me thinking:

What if we implemented an `__iter__` method that produced each string in that automaton's accepted language? My thought it we could generate one string at a time via `yield`, and leave it up to the user if they want to convert the automaton to a `list` or `set`

[2022-10-23 17:14] eliotwrobson commented on #79
@caleb531 for DFA/NFAs, I think there are algorithms for this based on treating the transitions as a graph and doing graph search (or similar algorithms). I'll have to look through some books to see if they explicitly describe something like this, but here's a stackoverflow post describing something similar:
 https://stackoverflow.com/questions/33058142/optimal-algorithm-to-count-the-number-of-str

[2022-10-24 01:23] Tagl commented on #79
I think I have some code for this already written. I'll take a look tomorrow.

[2022-10-24 02:29] Tagl commented on #79
Decided to look at it before I go to bed.
So this is essentially just a dynamic programming problem.
We can define recursive functions and then we just have to store results in memory to cut our time complexity down to $\mathcal{O}(nk)$, and raising space complexity to the $\mathcal{O}(nk)$, where $n$ is the number of states and $k$ is the length of words.
Of course for generating the words instea

[2022-10-24 04:26] eliotwrobson commented on #79
@Tagl Great that you already have a starting implementation for this! The only issue we might run into is efficiency, since recursion in Python is very slow. Since this algorithm needs to store the results anyway, do you think that this could be done iteratively with a dictionary of results?

I think doing the len as the cardinality of the language is a cool idea. I think it may be better to raise

[2022-10-24 04:47] caleb531 commented on #79
I also dig the idea of using `__len__` for the cardinality. And I agree with @eliotwrobson's point that a specialized exception should be raised instead of a `ValueError`.

[2022-10-24 09:55] Tagl commented on #79
Yes, converting to doing it iteratively is no problem at all since the transitions if the DP are simple. It was one of the optimizations I had in mind.

[2022-10-24 17:59] eliotwrobson commented on #71
@caleb531 Just to follow up (since I couldn't get a fast native subset algorithm for NFAs working), there appears to be one described here: http://www.lsv.fr/~doyen/papers/antichains-universality-cav06.pdf

It seems fairly complicated, but there is another implementation with source code here: https://github.com/thorstent/Limi
Might be worth a shot. I don't think I'll have time to take a crack at

[2022-10-24 18:14] Tagl commented on #79
Thoughts on adding `__contains__` to support usages of `'text' in dfa` ?

[2022-10-24 18:16] caleb531 commented on #79
@Tagl I think it would make more sense for `__contains__` to look for the same kind of value that's being yielded by `__iter__`. But not sure how useful that would be

[2022-10-24 18:19] Tagl commented on #79
I personally prefer doing `word in language` rather than `language.accepts_input(word)`

[2022-10-24 18:24] eliotwrobson commented on #79
@Tagl I agree, I think that `word in dfa` is a nice shorthand for accepts input (even if a little bit awkward semantically).

[2022-10-24 18:24] caleb531 commented on #79
@Tagl Oh, I see now. Because this whole conversation is about `__iter__` yielding/producing those values anyway. So yeah, that would make a lot of sense, actually.

[2022-10-24 18:25] caleb531 commented on #79
@eliotwrobson @Tagl But it will be important that `__contains__` makes a direct call to `accepts_input` rather than enumerating the iterator of words in the accepted language (because the latter could be substantially slower).

[2022-10-24 19:16] Tagl commented on #71
I think it's perfectly reasonable to start out with worse-than-optimal algorithms in the library and slowly improve in cases like these. Working slowly is better than not working.

Based on the benchmarks in the github repo this algorithm may not necessarily perform better than others.

[2022-10-24 19:55] eliotwrobson commented on #71
@Tagl in this case, the subset check can be done by converting to DFAs and using the algorithm there. My point is just that if we have a native NFA method for this, it should do something better than just calling other library functions.

[2022-10-25 00:12] Tagl commented on #79
Please take a look at the implementation. Changed to iterative, calculates the entire level for length $k$ before yielding the first word of that length.
Some repeated code max word length and is finite check. Think I'll have the logic in max word length function and then isfinite just calls it and checks if the return value is `inf`

[2022-10-25 02:54] alatorre-sebastian opened #81 "Adding user input"
How to add user input to a **dfa** or **nfa** ?

[2022-10-25 02:56] caleb531 commented on #81
@alatorre-sebastian It should be all documented in the README. Basically, you need to import the `DFA` or `NFA` class, instantiate your object, then call either the `read_input` or `read_input_stepwise` method on it. The README should have examples of this—see the links below:

https://github.com/caleb531/automata#class-dfafa
https://github.com/caleb531/automata#class-nfafa

[2022-10-25 03:07] alatorre-sebastian commented on #81
TRhank you very much.
How about states, input symbols and transitions user inputs

[2022-10-25 03:23] caleb531 commented on #81
@alatorre-sebastian It's all in the README. I would encourage you to start reading from the DFA section I linked to above (also pasted below for convenience):
https://github.com/caleb531/automata#class-dfafa

[2022-10-25 03:23] #81 closed

[2022-10-25 15:57] eliotwrobson commented on #71
Yes, I think adding a few standard constructions to the library would be good. In addition to a `contains_substring` and `contains_subsequence`, something like a `count_symbol` and `nth_from_end` would be useful. There are a few others they use in that Mathematica package I linked, it's probably a good idea to copy those (since the constructions themselves are straightforward).

[2022-10-25 16:15] caleb531 commented on #71
@eliotwrobson @Tagl Sounds fine to me. And as far as the names go, `DFA. contains_substring` and `DFA.contains_subsequence` would be my choices.

[2022-10-25 18:56] eliotwrobson commented on #71
@Tagl Do you happen to have the code for any of these (or any other interesting) constructions laying around? I can make a PR for them later but if you have them on hand that would be great.

[2022-10-26 15:03] Tagl commented on #71
I made a draft pull request with the ones I have (see #83)

[2022-10-26 16:52] eliotwrobson commented on #71
After some more googling, it looks like there's a more recent paper on the language inclusion problem for NFAs that has more detailed pseudocode: https://user.it.uu.se/~parosh/publications/papers/tacas10.pdf

I'll see when I can take a crack at implementing this. Some tricky definitions but seems to be faster and more refined than the other one I linked.

[2022-10-26 21:27] caleb531 commented on #71
@eliotwrobson @Tagl Since the Immutability work itself is already complete, I decided to merge the `immutability` branch into `develop`. In accordance with this, I've switched the target branches of both your open PRs from `immutability` to `develop`.

I've also deleted the `immutability` branch, so `develop` is back to being the correct target branch for which to submit PRs going forward.

[2022-10-28 03:46] eliotwrobson opened #87 "New Construction Idea"
@caleb531 was poking around online and found this blog post talking about constructing NFAs that recognize words within a given edit distance of a target word, along with some other cool utilites: http://blog.notdot.net/2010/07/Damn-Cool-Algorithms-Levenshtein-Automata

I think it could potentially be easy to integrate some of these ideas as well, since the blog post provides worked out examples (

[2022-10-28 20:11] caleb531 opened #88 "Rename Automaton.attributes()"
@eliotwrobson So you probably recall that I recently added an `Automaton.attributes()` method to retrieve all the public (non-underscore-prefixed) attributes on an Automaton instance, inspired by @Tagl's recent PR. However, I find the current name a little ambiguous, since some members that are technically considered attributes are excluded from the resulting `dict`.

Here are some alternative ide

[2022-10-28 20:18] eliotwrobson commented on #88
@caleb531 I think listing `input_parameters` as a property is a good idea, it's really just a constant fixed at the class level and there's no need to use a function to return it (there's no computation going on). While you're at it, it's probably a good idea to go ahead and use `__slots__` on the automata classes, since they're all immutable now.

[2022-10-28 20:23] caleb531 commented on #88
@eliotwrobson Oh, I totally forgot about `__slots__`! Although `__dict__` seems to disappear when I tried adding it to `DFA` just now. So

As for `input_parameters` as a property, sounds good to me.

[2022-10-28 20:37] eliotwrobson commented on #88
@caleb531 Yes, `__dict__` gets removed if you set `__slots__` by default. If you need to access `__dict__` for a method, you can add `__dict__` to the slots list. See: https://towardsdatascience.com/understand-slots-in-python-e3081ef5196d

[2022-10-28 20:54] caleb531 commented on #88
@eliotwrobson That's a thought, but I think I'd rather just use `input_parmeters` with an updated comprehension:

[code]

[2022-10-30 00:02] eliotwrobson commented on #87
The code has been adapted in the current PR #90. Some of the more efficient direct DFA constructions use more involved algorithms, but they basically do the same thing of determinizing the DFA on the fly from an implicit description of the NFA (and other optimizations with respect to parameters).

The only interesting thing that I couldn't get working was an algorithm to get the lexicographically

[2022-10-30 00:31] caleb531 commented on #87
@eliotwrobson Sorry I never replied to this. I did see this, and already left you my comments on #90.  I'm fine with adding algorithms like that—I just won't necessarily have as much time anymore to implement them myself.

[2022-10-30 00:34] eliotwrobson commented on #87
@caleb531 likewise. It doesn't really matter since you can accomplish basically the same thing by using the functions that enumerate all input strings (as those are fast even for very large DFAs).

[2022-10-30 01:16] Tagl commented on #87
Could you provide me with an example so I'm sure what you're asking for.
As I understand it you mean a function call like
[code]
which would then return maybe `000010` or `00010` or even '1'.

[2022-10-30 01:24] eliotwrobson commented on #87
Yes @Tagl basically what you said. There's more details in the first blog post in the original issue, but basically a function that, given a query string, gets the lexicographically next string contained in the DFA.

[2022-10-30 01:39] Tagl commented on #87
I have an idea how to do this, so I'll take a look at implementing this next.
A matching predecessor would make sense too.
I think this is useful, it allows for a different type of generation than the current `__iter__` method, but I think the current method of iterating is more practical in general.

[2022-11-01 22:48] Tagl opened #95 "Make validation optional"
I was trying to optimize some code of mine using the library (billions of DFA operations) so I ran a profiler and saw a lot of time was spent doing unions, specifically in PartitionRefinement.refine, cross product graph creation and then what surprised me was the `__init__` function. And half of the time was due to validation.
I think validation should be optional, so the user could pass in `valid

[2022-11-01 22:59] caleb531 commented on #95
@Tagl I have definitely thought about the performance impact of the validation, and I do like the idea of adding an option to skip the validation. However, since the validation check is more of an implementation behavior rather than a property that is intrinsic to the automaton (per the theory), I would prefer not to make this an input parameter to `__init__`. Rather, I think it would be better to

[2022-11-01 23:14] Tagl commented on #95
A global config seems like a nice approach.

The unnecessary freezing was avoided by just passing in frozensets and frozendicts instead of sets and dicts, something the user already has control over. I think optional immutability might complicate implementations that rely on immutability.

Yes, `refine` is the main worker of the minify function, I'm not sure it can be optimized by much.

[2022-11-01 23:25] Tagl commented on #79
DPDA we should be able to do. Non-determinism makes things a bit trickier.

I can implement the same kind of logic to NFA but the generation will essentially involve partial or full tracking of powersets like `DFA.from_nfa` does.

[2022-11-01 23:44] eliotwrobson commented on #79
@Tagl If the NFA string generation involves tracking powersets, I'm not really sure that it's worth the effort to do for NFAs directly, if users can just determinize and use the existing DFA functions. It seems overall pretty impractical.

[2022-11-01 23:51] eliotwrobson commented on #95
@caleb531 I also like the global config approach, that's a nice way to give users control over what's going on under the hood if necessary. And I agree with @Tagl , changing the freezing behavior using the global config could get confusing and it isn't a big deal as long as the user is providing frozensets in their input. I suppose we could do it just for fun to see if anyone uses it, but I think

[2022-11-02 00:24] Tagl commented on #95
Examining permutation classes and determining whether they have an infinite or finite amount of simple permutations.
There are a total of 2^(n!) such sets for permutations of size n, but I do a lot of filtering to avoid unnecessary work. Basically combinatorial explosion. Each DFA for a permutation class is made of unions of DFAs made from permutations, which are each made from unions of DFAs made

[2022-11-03 03:39] caleb531 commented on #95
@Tagl Isn't there still a performance impact, though? Because I am still recursively processing the transitions, etc. regardless of the type of iterable you pass in, even if it's a `frozen*` type.

[2022-11-03 05:18] eliotwrobson commented on #95
@caleb531 I think the issue persists even without the freezing, as you make a copy of all of the sets / dicts given as input, instead of just keeping aliases to them (even though the copies are themselves mutable). It would be great if there were a way in Python to transfer ownership of a data structure to the class (something move-constructor-esque, like in C++). If you want to allow for this tho

[2022-11-03 11:09] Tagl commented on #95
Tuples, frozensets and frozendicts are just passed through as objects (by reference) since `freezeValue` just returns the input object in those cases. List, set and dict are copied when constructing the tuple, frozenset and frozendict, respectively. Other iterables may not work with current `freezeValue`.

[2022-11-03 11:13] Tagl commented on #71
Did you have an idea for this?

[2022-11-03 13:06] eliotwrobson commented on #71
@Tagl since we just want to approximate the set contained, we can just hash a frozendict of words accepted up to a certain fixed length.

[2022-11-03 17:01] eliotwrobson commented on #95
That makes sense actually, the automaton constructor doesn't need to make a copy because the given structure itself is immutable (just needs a reference to the immutable data). In that case it probably doesn't make sense to have a flag that controls freezing or whether the constructors make copies, just inform the user they should pass in things as frozensets (or iterables) when possible.

[2022-11-03 17:38] Tagl commented on #71
That was my naive idea as well. However this will result in a lot of collisions for languages that don't have any short words. Perhaps the successors generator (#92) would work. I'm not sure which is better.

[2022-11-03 18:28] caleb531 commented on #95
@eliotwrobson @Tagl The fact that my `freezeValue()` function doesn't copy frozensets and frozendicts is more of an optimization than anything else. The primary purpose of that function is to convert the input parameters to immutable structures, and if a value is already immutable, I don't need to waste extra time or code to process it.

However, it does raise an interesting question. Before we in

[2022-11-03 18:55] eliotwrobson commented on #95
I'm kindof in favor of keeping things as they are. Enforcing the immutability (in my mind) is less about the ability to hash the automatons and really about removing a way of accidentally modifying / breaking the language they represent somewhere in your code.

I'm actually ok leaving the freezing behavior as-is (even though there's some inconsistency with the way that references get passed in). I

[2022-11-03 19:14] caleb531 commented on #95
@eliotwrobson You have some very good points. And I agree with keeping immutability from the validation perspective.

Running a quick test in the Python interpreter, I did also confirm that the `copy` module does indeed preserve references for immutable structures:

[code]

As far as this issue goes, I think we've established that we should _neither_ add a global configuration setting for immutabi

[2022-11-03 19:23] caleb531 commented on #88
@eliotwrobson Closing this now because the related PR has been merged. Thanks for your feedback on this.

[2022-11-03 19:23] #88 closed

[2022-11-03 19:34] eliotwrobson commented on #95
@caleb531 Yes, based on the discussion it seems like the only global config that makes sense is for the validation.

[2022-11-03 19:36] Tagl commented on #95
I agree, keep immutability. This could be noted in documentation for performance as a recommendation. A flag for validation is necessary in my opinion, as validation is one of the most demanding computation and is mainly a quality of life check when constructing the automata.

[2022-11-03 20:06] caleb531 commented on #95
@Tagl @eliotwrobson Great, thank you for the feedback. I already have a separate branch live for the global configuration, and will submit a PR for that within the next few days.

[2022-11-05 20:36] caleb531 opened #98 "Divide API documentation into multiple files"
@eliotwrobson @Tagl

Currently, the API documentation in the README is massive and monolithic. It potentially hides the presence of certain features because there is so much to scroll through, and it can make the documentation more overwhelming for newcomers. Sure, there's the Table of Contents, but it is not as easily accessible from any one section (i.e. scroll to the top of the page, then down

[2022-11-05 20:41] Tagl commented on #98
I believe there's also a Wiki functionality on github that could be used.

[2022-11-05 21:50] caleb531 commented on #98
@Tagl That's true, and GitHub Wikis may provide a nicer experience browsing the documentation. However, [the experience for submitting updates via PRs appears to be a bit involved](https://stackoverflow.com/a/11481887/560642). And, from [what I'm reading](https://docs.github.com/en/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages#cloning-wikis-to-your-computer), almost

[2022-11-08 01:49] caleb531 commented on #98
@eliotwrobson @Tagl Alrighty, I've merged all open PRs, so the documentation reorg is next on my list. Please don't submit any new PRs until I finish that work and merge into `develop`.

[2022-11-08 15:53] caleb531 commented on #98
@eliotwrobson @Tagl Merged the reorganization into `develop`, so you guys are clear for any new PRs you want to submit.

Closing this issue

[2022-11-08 15:53] #98 closed

[2022-11-09 00:37] #87 closed

[2022-11-09 00:42] #61 closed, assigned to eliotwrobson

[2022-11-09 00:49] Tagl opened #102 "More functionality for DPDA"
My next focus was gonna be a little bit on DPDAs. I've started implementing enumeration and iteration.
Are there any specific operations that you're particularly interested in prioritizing?
Some of them may not have any known efficient algorithm (regularity of language) or may even be undecidable (although that's more common for the nondeterministic version).
@caleb531 @eliotwrobson

Some ideas:
-

[2022-11-09 00:59] eliotwrobson commented on #102
@Tagl I'm not an expert on these operations (my domain of knowledge and usage on stuff in the package is mostly limited to regular languages), but these all seem reasonable. I guess the operations with regular languages are the most interesting to me (due to what I said previously).

[2022-11-09 01:01] caleb531 commented on #102
@Tagl Ideally, enumeration/iteration is something I'd personally love to see implemented for all automaton types. But I understand if we start running against the wall of feasibility.

Equivalence would also be great to have, but understand if there are challenges with that. The order you listed other operations seems like a fine priority for me (e.g. care more about union than complement, and mor

[2022-11-09 21:21] caleb531 opened #103 "Adding directory for usage examples?"
So the API documentation reorg (#98 and #99) is complete—great! But as I look through the API documentation, I realize that there is a lot of text to sift through between each block of code.

@Tagl @eliotwrobson What do you think about adding an `examples/` directory with Python files that demonstrate the code needed to perform the most common DFA/etc. operations. Since the API is so large at this

[2022-11-09 23:00] caleb531 commented on #102
@Tagl (cc @eliotwrobson) I think I'd actually like to save any DPDA work for a post-v7 release. I am starting to get eager to release v7 soon, with all of its substantial improvements to the library.

[2022-11-09 23:06] eliotwrobson commented on #103
@caleb531 I think this is a good idea for a few basic examples. I think they're easier to write given the new DFA construction algorithms. I don't think the maintenance burden will be too much if the examples are kept simple (since I don't expect the API to change a ton after v7).

[2022-11-09 23:14] eliotwrobson commented on #102
@caleb531 I'm inclined to agree. We've merged in a ton of changes that significantly overhaul large parts of the library. I think it would be good to release and get feedback on the existing changes.

[2022-11-09 23:20] Tagl commented on #102
No worries, this is gonna take a long time.

[2022-11-10 19:47] caleb531 opened #104 "Missing branch coverage for DFA.random_word()"
@Tagl I am getting pretty close to releasing v7 (hooray!). However, I noticed that there was a slight drop in code coverage with the introduction of `DFA.random_word()`. Since you implemented that method, I wanted to ask for your help in covering that additional case.

From what I can tell, the outer loop never runs for more than one iteration (either that, or it never completes without a break).

[2022-11-10 20:24] Tagl commented on #104
The reason is the `break` essentially but you can get this covered by having a partial DFA where some visited state in the function has no transitions. I can make PR for this sometime this weekend if you'd like me to update the tests.

[2022-11-10 21:16] caleb531 commented on #104
@Tagl No that's okay! I should be able to knock out the additional test(s) without issue. But thank you for the offer! You've been an amazing help in making v7 a reality.

[2022-11-10 21:59] Tagl commented on #104
If you can then it would be smart to add a test for uniformity, just as a sanity check.
I think this one would work: https://en.wikipedia.org/wiki/Chi-squared_test

[2022-11-10 22:15] caleb531 commented on #104
@Tagl On second thought, could you please have a look when you can? I tried a few variants of a partial DFA, but none are hitting that branch in my test case. Please see the latest commit on my [dfa-partial-random-word](https://github.com/caleb531/automata/tree/dfa-partial-random-word) branch:

https://github.com/caleb531/automata/commit/5ec51352d478b3a18196a414487c2803cff9b4d1

[2022-11-11 17:59] Tagl commented on #104
After thinking about it I believe this is simply an unreachable situation. There will always be a transition to follow if we haven't completed the word. We always break because of the if check. So if you want full coverage we need to refactor the code. I think this is an example of code coverage being a bit naive.

[2022-11-11 19:03] caleb531 commented on #104
@Tagl That totally makes sense. And it wouldn't be the first time there's been an unreachable branch in the codebase (i.e. search for `# pragma: no branch` 😅).

In that case, it should be safe to ignore the coverage by adding a `# pragma: no branch`, meaning I can move forward with publishing v7 today! 🎉

[2022-11-13 06:54] RyanZurrin opened #106 "Not really an issue just hoping to get some help on usage."
I am very new to automata and have been learning a lot recently having this library has made things so much more fun and interactive for me, so I want to say thanks for all the hard work you all have put into this library.

I am trying to implement an NPDA, and I have struggled to configure the transitions properly. I have reviewed the palindrome example you all have on the doc page. Still, becaus

[2022-11-15 14:00] Tagl commented on #106
I don't think there is an any match for stack currently. I am working on some PDA functionality and may change a bit how the automata are defined and add support for lambda match on stack top to simplify definitions.
I was able to construct your automata like this:
[code]

[2022-11-15 14:02] Tagl commented on #106
Also glad to hear that you like the library and are using it to learn, most of the functionality is in the finite machines currently and I personally haven't used the other types of automata much myself.

[2022-11-15 15:42] RyanZurrin commented on #106
Thank you so much for the response and showing me how to implement that. I had tried a few differnt things and whenever I would test I could get the accepted states I was expecting so had no ideas how to proceed with it. I would have never considered the tuple() like that lol, so this has been super helpful.

I look forward to any additional updates you all add to the library. It already works ext

[2022-11-15 15:43] RyanZurrin commented on #106
You all should also add a way for people to support this project.

[2022-11-15 15:58] Tagl commented on #106
The tuple() can be any empty iterable I believe, empty string was used in some examples

[2022-11-15 21:11] caleb531 commented on #106
The way I learned Automata theory with regard to NPDAs, lambda is the context of the stack indicates when you wish to pop from the stack. I apologize if the docs are not super clear on how this is written, but the way you can instruct the PDA to pop from the stack is to pass an empty string (i.e. pop from stack) instead of a tuple (i.e. replace the stack top with these elements).

Along these line

[2022-11-15 23:26] caleb531 commented on #59
Closing this ticket as the documentation has now been corrected with the recent v7 release.

[2022-11-15 23:27] caleb531 commented on #60
Closing this ticket since the state names should now be handled correctly with the recent v7 release. Please let me know if this is still not the case, though. :)

[2022-11-15 23:27] #60 closed

[2022-11-15 23:29] caleb531 commented on #71
Closing this issue since immutability has been finalized and part of the recently-released v7 of the library. Any further discussions on a potential `__hash__` function for DFAs/NFAs should probably be had an a new (separate) issue that links to this one.

[2022-11-15 23:29] #71 closed

[2022-11-15 23:31] caleb531 commented on #104
Closing this issue since I resolved it shortly before releasing v7 recently. :)

[2022-11-16 03:47] RyanZurrin commented on #106
Thank you so much. That actually helps a lot for someone just learning, to be able to know exactly what is happening with the stack for each of the transitions. I appreciate all the amazing work you all are doing and have been so excited about this library that I have been showing it off to my fellow classmates even lol.

Keep up the great work.

[2022-11-30 01:58] DanielChavesSimao opened #108 "Duplicating states when removing lambdas of NFA"
It seems to be duplicating every state when I ask to remove the epsilons.

[code]

Output:
![image](https://user-images.githubusercontent.com/55005033/204688551-e6db99e4-f859-4a22-a90e-ab7256bde5e3.png)

[2022-11-30 19:05] caleb531 commented on #108
On the surface, it seems like duplicating the states would actually make sense in order to create a machine without lambda/epsilon transitions, especially since the resulting machine needs to accept the same language as the original.

@eliotwrobson @Tagl Can you guys confirm if this is the expected behavior according to the algorithm we are using?

[2022-11-30 19:17] eliotwrobson commented on #108
So I actually didn't write this particular algorithm (and am not a huge expert on how it works), but I think this is actually the expected behavior. This is because the eliminate lambda algorithm intentionally doesn't remove any states, and these are the same states that appear when the NFA was constructed originally:

![test](https://user-images.githubusercontent.com/1345068/204888355-63e7d58b-a8